[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
limesurveyrc2api = "*"
python-dotenv = "*"
ipdb = "*"

[dev-packages]
[scripts]
send_invitations = "python main.py"

[requires]
python_version = "3.11"
