[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
limesurveyrc2api = "*"
python-dotenv = "*"
pyqt6 = "*"
ipdb = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.11"
